#encoding: UTF-8

# Internet Speeds
down_speed      = 100.0
up_speed        = 20.0

# Twitter - Get your credentials at http://dev.twitter.com
consumer_key    = ''
consumer_secret = ''
access_key      = ''
access_secret   = ''

# Tweet
twitter_message = 'A @NEToficial está a ⬇ %.2f Mbps e ⬆️ %.2f Mbps. %.2f ms de latência e estou conectado há %s. %s'

messages = dict (
  awesome   = 'Mandou bem! 🏅🎉',
  great     = 'Tá ótimo 🙂',
  fair      = 'Tá justo',
  mediocre  = 'Vamos melhorar isso, pessoal? 🙁',
  bad       = 'Estou pagando por mais, viu? 💸',
  terrible  = 'Tá de brincadeira? 👎',
  shit      = '💩 Pode isso, @Anatel_Informa?'
)
