#encoding: UTF-8

# Internet Speeds
down_speed      = 100.0
up_speed        = 20.0

# Twitter
consumer_key    = 'abcdefghijklmnopqrstuvwxy'
consumer_secret = 'aBcDeFgHiJkLmNoPqRsTuVwXyZ1234567890AbCdEfGhIjKlMn'
access_key      = '1234567890-aBcDeFgHiJkLmNoPqRsTuVwXyZaBcDeFgHiJkLm'
access_secret   = 'aBcDeFgHiJkLmNoPqRsTuVwXyZ1234567890AbCdEfGhI'

# Tweet
twitter_message = 'A @NEToficial está funcionando a %.2f Mbps (%.2f%%) de download e %.2f Mbps (%.2f%%) de upload. A latência é de %.2f ms. %s'
